.footer {
  background: #ec6840;
  width: 100%;
  margin-top: 32px;
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 20px;
  font-size: 12px;

  svg {
    height: 64px;
    width: 64px;
  }
}

.powered {
  margin-top: 12px;
  font-size: 12px;

  svg {
    height: 12px;
    width: 12px;
    margin: 0 4px;
  }
}
